# Sensitive Daten
.env

# Logs
*.log
logs/

# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
.venv/

# Datenbanken & Daten
*.db
*.sqlite
database/
src/data/clipData.json
src/data/sanctionsData.json
src/data/allianceData.json
src/data/absenceData.json
src/data/inventoryData.json
src/data/serverStatsData.json
src/data/funkData.json
src/data/klamottenData.json
src/data/blacklistData.json
src/data/abstimmungData.json
src/data/sanctionKatalogData.json
src/data/autofarbeData.json
src/data/aufstellungData.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db